

/*FONT*/
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    font-family: "Work Sans", sans-serif;
}
.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/*Header*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo{
    font-size: 45px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

.header .navbar ul {
    display: flex;
    gap: 45px;;
    list-style: none;

}
.header .navbar ul li a {
    text-decoration: none;
    font: size 18px; 
    color: black;
}

